@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');


:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: var(--Yellow);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.preview-card {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 1em;
    max-width: 300px;
    background-color: var(--White);
    border-radius: 15px;
    border: 1px solid var(--Black);
    box-shadow: 10px 10px var(--Black);
}

.preview-img{
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.tags{
    width: fit-content;
    padding: 0.4em 0.8em;
    background-color: var(--Yellow);
    font-size: 10px;
    font-weight: 800;
    border-radius: 4px;
}

.publish-date{
    font-size: 11px;
    color: var(--Black);
}

.card-title{
    font-size: 18px;
    cursor: pointer;
}

.card-title a{
    text-decoration: none;
    color: var(--Black);
}

.card-title a:hover{
    color: var(--Yellow);
}

.description{
    font-size: 12px;
    font-weight: 200;
    line-height: 16px;
    color: var(--Grey);
    text-align: left;
}

.author{
    display: flex;
    align-items: center;
    gap: 0.6em;
    width: fit-content;
}

.author-img{
    width: 24px;
}

.author-name{
    font-size: 10px;
}

@media only screen and (max-width: 375px) {
    .preview-card{
        max-width: 90%;
    }
    .preview-img{
        min-width: 70%;
    }
}